@model CourseWork.Models.Provider

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.NameCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProviderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
